ul.social {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
ul.social > li {
  display: inline-block;
}
ul.social > li > a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
}
